<!doctype html>
<html lang="en">
  <head>
    <title>projet fouille</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

    <body>
      <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="about">About</a>
      </div>
      <center>
      <p> Le résultat de votre recherche est :<br /> </p>
    </center>
        <!-- For loop logic of jinja template -->
        {%for i in range(0, len)%} 
          <br>
            <p>{{tmp[i][0]}} - {{tmp[i][1]}}</p> 
        {%endfor%} 
          
      
    </body>
    <center>
    <a href="{{ url_for('home') }}"> nouvelle recherche </a>
    </center>
</html>